/*Styles for testing grid
.mdl-cell {
    box-sizing: border-box;
    background-color: #BDBDBD;
    padding-left: 8px;
    padding-top: 4px;
    color: white;
  }
Styles for testing grid*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.mdl-cell {
    margin: 5px !important;
}
#drawerCat.mdl-layout__drawer {
    background: #1b1b1b;
    color: #ffffff;
    border: none;
}
#headerRoadAppCat.mdl-layout__header-row{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav#linksNavCat a.mdl-navigation__link {
    color: #d2d2d2;
}
nav#linksNavCat.mdl-navigation a.mdl-navigation__link:hover {
    color: black !important;
}
.down{
    font-size: 2em;
    color: #0d8c40;
    font-weight: 300; 
}
#tableBici.mdl-data-table.mdl-js-data-table{
    width: 70%;
    margin: auto;
}
div #generalStats div.mdl-cell mdl-cell--4-col text-center{
    padding-top: 6%;
}
#statsImprove{
    font-size: 3em;
    color: #0d8c40;
    font-weight: 800;
}
.myClass {
    font-size: 2em;
}
.headerBici{
    width: 70%;
    margin: auto;
}
img.img-stats{
    width: 60%;
}
.text-center {
    text-align: center;
}
.titles-app{
    color: #424242;
    font-size: 1.5em;
    font-weight: 900;
}


