/* Estilos para Square card*/
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.button-style {
    background-color: white;
    padding: 1%;
    box-shadow: 1px 6px 20px 2px #0000002b;
    border-radius: 20px;

}
img.img-stats{
    width: 60%;
}
.height-welcome {
    height: 10vh;
}
#drawer.mdl-layout__drawer {
    background: #1b1b1b;
    color: #ffffff;
    border: none;
}
.titles-general{
    font-size: 1.5em;
    font-weight: 600;
    color: #868686;
}
#headerRoadApp.mdl-layout__header-row{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav#linksNav a.mdl-navigation__link {
    color: #d2d2d2;
}