#form-login {
    text-align: center;
    width: 100%;
    margin: auto;
}
#login-button {
    margin-top: 8%;
    width: 80%;
    height: 5em;
    font-weight: 600;
}
.text-center {
    text-align: center;
}
.input-login {
    width: 80%; 
    height: 4em;
}
.form-titles{
    font-size: 1.2em;
    font-weight: 300;
}
.mdl-textfield__input  {
    margin: auto !important; 
    width: 80% !important;
}
.mdl-cell {
    box-sizing: border-box;
    background-color: #BDBDBD;
    height: 5%;
    padding-left: 8px;
    padding-top: 4px;
    color: rgb(27, 27, 27);
  }