#root {
    background: url(../src/img/bg-phone3.jpg);
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
    padding-top: 5%;
}
#form-login {
    text-align: center;
    width: 100%;
    margin: auto;
    color: #ffffff;
}
#login-button {
    margin-top: 8%;
    width: 80%;
    height: 3.5em;
    font-weight: 600;
    border-radius: 50px;
    background: #0d1fff;
    background: -webkit-linear-gradient(to left,#ff5908, #f7b43b);
    background: linear-gradient(to left, #ff5908, #f7b43b);
    color: #ffffff;
}
#img-logo {
    margin-top: 1%;
    width: 100%;
    height: 100%;
}
.text-center {
    text-align: center;
}
.input-login {
    width: 80%; 
    height: 4em;
}
.form-titles {
    font-size: 1.2em;
    font-weight: 300;
}
.white-text{
    color: #ffffff !important;
}
.mdl-textfield__input  {
    margin: auto !important; 
    width: 80% !important;
}
.mdl-cell {
    box-sizing: border-box;
    height: 5%;
    padding-left: 8px;
    padding-top: 4px;
    color: rgb(27, 27, 27);
}
.input-class {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 75%;
    height: 1.8em;
    border-radius: 40px;
    padding: 10px 10px 10px 10px;
}
/*hola*/
